<%= form_with(model: policena, local: true) do |form| %>
  <% if policena.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(policena.errors.count, "error") %> prohibited this policena from being saved:</h2>

      <ul>
        <% policena.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :idade %>
    <%= form.number_field :idade %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
