<p id="notice"><%= notice %></p>

<h1>Policenas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Idade</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @policenas_items.each do |policena| %>
      <tr>
        <td><%= policena.name %></td>
        <td><%= policena.idade %></td>
        <td><%= policena.comentario %></td>
        <td><%= link_to 'Show', policena %></td>
        <td><%= link_to 'Edit', edit_policena_path(policena) %></td>
        <td><%= link_to 'Destroy', policena, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Policena', new_policena_path %>
