<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Lucas Gabriel</h3>
        <nav class="nav nav-masthead justify-content-center">
            <%= link_to "Home", root_path, class:"nav-link #{'active' if current_page?(root_path)}"%>
            <%= link_to "About", about_path, class:"nav-link #{'active' if current_page?(about_path)}" %>
            <%= link_to "Blog", blogs_path, class:"nav-link #{'active' if current_page?(blogs_path)}" %>
            <%= link_to "Contact", contact_path, class:"nav-link #{'active' if current_page?(contact_path)}" %>
            <%= link_to "Portfolio", portfolios_path, class:"nav-link #{'active' if current_page?(portfolios_path)}" %>
            <%= login_helper('nav-link') %>
        </nav>
    </div>
</header>