<h1>Hi,
    <% if current_user %>
        <%= current_user.first_name%>
    <% else %>
        Não logado!
    <% end %>
</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= @posts.inspect %>
<hr />

<%= @skills.inspect %>
<hr />
<%= sample_helper %>

<hr />

<%= content_tag :p, class:'my-special-class' do %>
  Hi, I'm a paragraph!
<% end %>


<%= content_tag :h1, class:'my-special-class2' do %>
  Hi, I'm a H1
<% end %>

<%= @copyright %>
