<!DOCTYPE html>
<html>

<head>
  <title>DevcampPortfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%= render 'shared/blog_navbar' %>
  <%= render 'shared/blog_header' %>

  <div class="container">
    <%= yield %>
  </div><!-- /.container -->

  <%= render 'shared/blog_footer' %>

</body>

</html>